
    
        /* Styling the body element
        like body color and margin */
         
        body {
            background-color: #d0d4a8;
            margin: 10%;
        }
 
        /* Styling the Title and giving
        shadow to the title */
        #title {
            text-align: left;
            text-shadow: 5px 5px 10px rgb(139, 168, 119);
            font-size: 7vh;
        }
 
        /* Setting width and display
        type of image */
        img {
            display: inline-block;
            align-items: center;
            border:5px solid rgb(16, 163, 41) ;
            width: 60%;
            
        }
        
 
        /* Setting font color and font
        size of the image-caption */
        #caption {
            font-size: 17px;
            align-items: center;
            font-family: Gill Sans;
            color: black;
        }
 
        /* Styling the content of the page like-
        padding, font-size, font color etc.*/
       
 
        /* Styling the title of the content */
        h1.title-Kashmir {
            font-size: 35px;
            color: rgb(48, 41, 148);
            text-align: center;
            text-shadow: 5px 5px 10px rgba(207, 224, 48, 0.781);
        }
        h3.places{
            color: rgb(24, 22, 2);
        }
        h2.Gulm{
            color: rgb(34, 75, 99);
          text-decoration: underline;
          text-decoration-color: forestgreen;
          font-size: 30px;
        }
        h2.Dal{
            color: rgb(39, 92, 122);
            text-decoration: underline;
          text-decoration-color: forestgreen;
          font-size: 30px; 
        }
        h2.pahhh{
            font-style: italic;
        }
        h3.top{
            color: rgb(192, 98, 36);
            text-decoration: underline;
          text-decoration-color: rgb(15, 41, 15);
          font-size: 30px;
        }
        strong.chan{
            color: rgb(45, 29, 59);
            text-decoration: underline;
          text-decoration-color: rgb(20, 55, 78);
          font-size: 30px;
        }
 
        /* Styling the link provided at the end */
        #tribute-link {
            text-decoration: none;
            color: black;
        }
